<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <section class="title">
      <div class="title-info">
        <h1 class="title-name">Admin</h1>
      </div>
    </section>

    <nav class="navbarBottom">
      <ul>
        <li class="active adminLink">
          <a href="/admin/categories"><i class="bi bi-list-ul"></i>
            Categories</a>
        </li>
        <li class="active adminLink">
          <a href="/admin/projectsAdmin"><i class="bi bi-folder-fill"></i>
            Projects</a>
        </li>
      </ul>
    </nav>

  </body>
</html>